.games-page-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto; /* Centraliza o conteúdo na página */
  text-align: center; /* Centraliza o texto */
}

.games-page-container h2 {
  color: black;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.games-page-container p {
  color: black /*var(--text-color)*/;
  font-size: 1.1em;
  margin-bottom: 30px;
}


.game-date-separator {
  background-color: #00261b;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.3em;
  color: var(--text-color);
  text-transform: uppercase;
}

.game-list {
  padding: 10px;
  margin-bottom: 20px;
}

.game-list p {
  margin: 10px 0;
  font-size: 1.1em;
  color: black;/*var(--text-color);*/;
  
}

.match-card {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: top;
  justify-content: space-between;
  color: black;
}

.team-name-scoreboard-left {
  text-align: right;
  width: 45%;
}
.scoreboard{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.3em;
  margin: 0 0.5em;
  color: #00261b;
  font-weight: bold;
}
.team-name-scoreboard-right {
  text-align: left;
  width: 45%;
}

.vs-icon {
}
