.games-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
  margin-top: 20px;
}

.games-page-container span.title {
  font-size: 2.5em;
  font-weight: bold;
  color: black;
}

.games-page-container h2 {
  color: black;
  font-size: 2.5em;
}

.games-page-container p {
  color: black /*var(--text-color)*/;
  /* font-size: 1.1em; */
}

.game-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.game-date-separator {
  background: #00261b;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 100%;
}

.game-date {
  color: var(--text-color);
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.game-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.game-list p {
  /* margin: 10px 0; */
  font-size: 1.1em;
  color: black;/*var(--text-color);*/;
  
}

.match-card {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
}

.team-name-scoreboard-left {
  text-align: right;
  width: 45%;
  display: inline-block;
  /* max-width: 200px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scoreboard{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.3em;
  margin: 0 0.5em;
  color: #00261b;
  font-weight: bold;
}
.team-name-scoreboard-right {
  text-align: left;
  width: 45%;
  display: inline-block;
  /* max-width: 200px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vs-icon {
  width: 30px;
  height: 22px;
}
