.home-page-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  margin-top: 20px;
}
.home-page-container h2 {
  color: black;
  font-size: 2.5em;
}
.home-page-container p {
  color: black /*var(--text-color)*/;
  font-size: 1.1em;
}
.classification-tables-grid {
  align-items: center;
  gap: 20px;
  flex-direction: column;
  min-width: 100px;
  max-width: 650px;
  width: 100%;
  margin-bottom: 30px;
}